@charset "UTF-8";
/*--- reset CCS ---*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "nunito";
  list-style: none;
  text-decoration: none; }

/*--- body grid ---*/
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*-- Extends --*/
.productos, .nosotros, .seguinos, .ayuda {
  height: 12rem; }
  .productos ul, .nosotros ul, .seguinos ul, .ayuda ul {
    padding: 0;
    margin: 0;
    text-align: center; }

.tituloProductos, .tituloNosotros, .tituloSeguinos, .tituloAyuda {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #48341a;
  text-align: center; }

.carouselIndex .textoBoton a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none; }

.imgIndex1 img, .imgIndex2 img {
  width: 100%;
  padding: 0.5rem;
  margin-top: 2rem; }

.contenedorDos img, .contenedorTres img {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem; }

/*--- Boton Whatsapp ---*/
.icono {
  position: fixed;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  bottom: 2rem;
  right: 2rem;
  background: #25d366;
  color: #FFF;
  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
  box-shadow: 0px 1px 10px black;
  z-index: 100;
  transition: all 500ms ease; }

/*--- Header Bootstrap ---*/
.menu-bootstrap {
  background-color: rgba(170, 136, 84, 0.89); }

.logoHamb, .dropdownHeader {
  display: none; }

.menu-items-bootstrap {
  padding: 0rem;
  margin: 0rem;
  justify-content: center; }
  .menu-items-bootstrap a {
    color: white;
    font-size: 1.1rem;
    text-align: center; }

.tituloDropdown a {
  color: white; }

.itemsDropdown a {
  color: #48341a; }

.imgHeaderBootstrap img {
  min-width: 25vh;
  max-width: 25vh; }

.navbar-nav {
  align-items: center;
  gap: 2rem; }

/*--- Index ---*/
/*--- Carrusel Index ---*/
.carouselIndex {
  margin: 0.5rem; }
  .carouselIndex .carousel-inner-index {
    border-radius: 1rem; }

/*--- Imágenes Index ---*/
.imgIndex2 {
  margin-bottom: 1rem; }

/*--- Quienes Somos ---*/
.gridQuienesSomos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "contenedorUno contenedorDos" "contenedorTres contenedorCuatro"; }

.contenedorUno {
  grid-area: contenedorUno;
  padding: 0.5rem; }
  .contenedorUno h1 {
    font-size: 2.5rem;
    color: rgba(170, 136, 84, 0.89);
    text-align: center; }
  .contenedorUno p {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem; }
  .contenedorUno h1 {
    margin-top: 1rem; }

.contenedorDos {
  grid-area: contenedorDos; }

.contenedorTres {
  grid-area: contenedorTres; }

.contenedorCuatro {
  grid-area: contenedorCuatro; }
  .contenedorCuatro h1 {
    font-size: 2.5rem;
    color: rgba(170, 136, 84, 0.89);
    text-align: center; }
  .contenedorCuatro p {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem; }

/*--- Contacto ---*/
.gridContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contactoForm contactoInfo" "contactoForm contactoMapa"; }

.contactoForm {
  grid-area: contactoForm; }
  .contactoForm .fieldsetContacto {
    margin: 1rem;
    padding: 1rem;
    border: 0.15rem solid rgba(170, 136, 84, 0.89);
    border-radius: 1rem; }
    .contactoForm .fieldsetContacto h1 {
      font-size: 2rem;
      color: rgba(170, 136, 84, 0.89);
      text-align: center;
      padding: 0.3rem; }
    .contactoForm .fieldsetContacto .tituloCampoContacto {
      font-size: 1rem;
      color: black; }
    .contactoForm .fieldsetContacto .inputContacto {
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.5rem 0rem;
      width: 100%; }
    .contactoForm .fieldsetContacto .botones {
      display: flex;
      justify-content: space-between; }
      .contactoForm .fieldsetContacto .botones .limpiar, .contactoForm .fieldsetContacto .botones .enviar {
        font-size: 1rem;
        padding: 0.5rem;
        color: white;
        background-color: rgba(170, 136, 84, 0.89);
        border: none;
        border-radius: 1rem;
        transition: 1s; }
        .contactoForm .fieldsetContacto .botones .limpiar:hover, .contactoForm .fieldsetContacto .botones .enviar:hover {
          transform: scale(1.1);
          box-shadow: 0px 1px 10px #48341a;
          transition: all 200ms ease;
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1); }

.contactoInfo {
  grid-area: contactoInfo;
  margin: 1rem;
  border: 0.15rem solid rgba(170, 136, 84, 0.89);
  border-radius: 1rem; }
  .contactoInfo h2 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    color: rgba(170, 136, 84, 0.89); }
  .contactoInfo h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center; }
  .contactoInfo .parrafoInfo {
    padding: 0.8rem; }
  .contactoInfo p {
    padding: 0;
    font-size: 1rem;
    text-align: center; }
  .contactoInfo .email {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    text-align: center; }

.contactoMapa {
  grid-area: contactoMapa;
  margin: 1rem; }
  .contactoMapa iframe {
    width: 100%;
    height: 100%;
    border-radius: 1rem; }

/*--- Productos ---*/
.gridProductos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "contenedorUno contenedorDos";
  padding: 0.5rem;
  align-items: center; }

.contenedorUnoProd {
  grid-area: contenedorUno; }
  .contenedorUnoProd img {
    width: 99%;
    border-radius: 1rem; }

.contenedorDosProd {
  grid-area: contenedorDos; }
  .contenedorDosProd h1 {
    font-size: 2.5rem;
    color: rgba(170, 136, 84, 0.89);
    text-align: center; }
  .contenedorDosProd p {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem; }

.gridProductos2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "listaProductos imagenBolsa analisis";
  margin: 20px;
  align-items: center;
  justify-content: center; }

.listaProductos {
  grid-area: listaProductos; }
  .listaProductos ul {
    text-align: center; }
    .listaProductos ul a {
      float: left;
      width: 90%;
      margin: 0.25rem;
      background-color: #198754;
      padding: 1.3rem;
      border-radius: 0.2rem;
      font-size: 0.9rem;
      list-style: none;
      text-decoration: none;
      color: white; }
      .listaProductos ul a:hover {
        background-color: #157347;
        transition: 200ms; }

.imagenBolsa {
  grid-area: imagenBolsa;
  display: flex;
  justify-content: center; }
  .imagenBolsa img {
    width: 97%;
    padding: 2rem; }

.analisis {
  grid-area: analisis; }
  .analisis h3 {
    color: #198754;
    text-align: center; }
  .analisis table {
    width: 100%;
    text-align: center; }
    .analisis table tbody td {
      width: 50%; }
  .analisis .indicaciones {
    margin-top: 2rem;
    border-radius: 0.5rem;
    color: #198754;
    text-align: center;
    padding: 0.5rem; }

/*--- Aves Full Bootstrap ---*/
.carousel-inner {
  border-radius: 1rem; }

.tituloAves {
  color: rgba(170, 136, 84, 0.89); }

.divFooter-boostrap {
  background-color: rgba(170, 136, 84, 0.89); }

.gridAves2 {
  display: flex;
  justify-content: center; }
  .gridAves2 img {
    width: 100%;
    padding: 2rem; }

.indicaciones p {
  padding: 2rem; }

.logoFooterBootstrap {
  width: 30vh; }

.grillas-footer {
  justify-content: center;
  gap: 2rem;
  text-align: center; }

.titulosFooter {
  color: #48341a;
  font-weight: 500;
  text-align: center; }

.copy-boostrap {
  background-color: #48341a;
  padding: 0.5rem 0rem;
  font-size: 0.8rem; }

/*--- Footer ---*/
footer ul i, footer ul a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 1rem; }
  footer ul i:hover, footer ul a:hover {
    color: #48341a;
    transition: 200ms; }

.divFooter {
  background-color: rgba(170, 136, 84, 0.89);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  padding: 1rem; }

.divLogoFooter img {
  width: 30vh; }

.copy {
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
  text-align: center;
  background-color: #48341a; }

/*--- Ayuda ---*/
.mainAyuda h1 {
  color: #48341a;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.5rem; }

.mainAyuda .subtituloAyuda {
  color: #48341a;
  font-size: 1.3rem;
  padding: 2rem; }

.mainAyuda h2 {
  color: rgba(170, 136, 84, 0.89);
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem; }

.mainAyuda .contenedor {
  padding: 2rem; }

.mainAyuda .credito {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem; }
  .mainAyuda .credito img {
    width: 80%; }

.mainAyuda .debito {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem; }
  .mainAyuda .debito img {
    width: 50%; }

.mainAyuda .mPago {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem; }
  .mainAyuda .mPago img {
    width: 20%; }

/*--- Media Queries Tablet 1---*/
@media screen and (min-width: 992px) and (max-width: 1450px) {
  .facebook, .instagram, .inicio {
    display: none; }
  .menu-bootstrap-inicio {
    background-color: rgba(170, 136, 84, 0.3); }
  .itemsHeader {
    display: none; }
  .dropdownHeader {
    display: block; } }

/*--- Media Queries Tablet 2---*/
@media screen and (max-width: 991px) {
  .facebook, .instagram, .logoFooterBootstrap, .divLogoFooter, .imagen-footer, .imgHeaderBootstrap {
    display: none; }
  .menu-bootstrap-inicio {
    background-color: rgba(170, 136, 84, 0.75); }
  .menu-bootstrap {
    display: flex;
    justify-content: center; }
  .logoHamb {
    display: block;
    width: 50%; }
  /*--- quienes somos ---*/
  .gridQuienesSomos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenedorUno" "contenedorDos" "contenedorCuatro" "contenedorTres"; }
  /*--- Productos ---*/
  .gridProductos {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "contenedorUno" "contenedorDos"; }
  .gridProductos2 {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "listaProductos" "imagenBolsa" "analisis"; }
    .gridProductos2 .listaProductos ul a {
      padding: 0.3rem; }
  /*--- Contacto ---*/
  .gridContacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contactoForm" "contactoInfo" "contactoMapa"; } }

/*--- Media Queries Mobile---*/
@media screen and (max-width: 576px) {
  .productos, .nosotros, .productosBootstrap, .nosotrosBootstrap {
    display: none; }
  .gridQuienesSomos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenedorUno" "contenedorCuatro"; }
  .contenedorDos, .contenedorTres {
    display: none; } }
