/*--- Contacto ---*/

.divContacto{
  display: flex;
  justify-content: center;
}

.fieldsetContacto{
  min-width: 60rem;
  margin: 2rem;
  padding: 2rem;
  border: 0.15rem solid $color-principal;
  border-radius: 1.5rem;
}

.legendContacto{
  font-size: 2rem;
  color: black;
  padding: 0.3rem;
}

.tituloCampoContacto{
  font-size: 1rem;  
  color: black;
}

.inputContacto{
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  width: 100%;
}

.botones{
  display: flex;
  justify-content:space-between;
}

.limpiar, .enviar{
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: $color-principal;
  border: none;
  border-radius: 0.75rem;
}