/*-- Extends --*/

%tarjetasFooter{
  height: 12rem;
    ul{ padding: 0;
        margin: 0;
        text-align: center;}
}

%titulosTarjetasFooter{
  font-size: 1.2rem;
  padding: 0.5rem;
  color: nth($listas, 2);
  text-align: center;
}

%botonesCarruIndex{
  a{
    color: white;
    font-size: 2rem;      
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
  }
}

%imagenesIndex{
  img{
    width: 100%;
    padding: 0.5rem;
    margin-top: 2rem;
  }
}

%imgQuienesSomos{
  img{
    width: 100%;
    padding: 0.5rem; 
    border-radius: 1.5rem;   
  }
}