MAPAS: Estos son variables que su valor es una colección de variables, que pueden ser de 
propiedades distintas (a diferencia de las listas).
NOTA: se crean con parentesis (no con llaves como el resto).

Creo "_maps.scss" y le cargo:

$boton-standar: (
     color-standar: yellow,
     medida-standar: 200px,
     font-standar: 20px,
);

Ejemplo en styles.scss: (tengo dos botones en el html con las clases .standard y .premium)

@import "utilities/maps";

main{
     .standar{
          background-color: map-get($map: $boton-standar, $key: color-standar)
}

NOTA: Esto nos permite buscar un parámetro (key) alojado dentro de un mapa (map)