/*--- Contacto ---*/

.gridContacto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contactoForm contactoInfo"
                       "contactoForm contactoMapa";
}

.contactoForm{
  grid-area: contactoForm;  
  .fieldsetContacto{
    margin: 1rem;
    padding: 1rem;
    border: 0.15rem solid nth($listas, 1);
    border-radius: 1rem;
    h1{
      font-size: 2rem;
      color: nth($listas, 1);
      text-align: center;
      padding: 0.3rem;}
    .tituloCampoContacto{
      font-size: 1rem;  
      color: black;} 
    .inputContacto{      
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.5rem 0rem;
      width: 100%;}
      .botones{
      display: flex;
      justify-content:space-between;
      .limpiar, .enviar{
        font-size: 1rem;
        padding: 0.5rem;
        color: white;
        background-color: nth($listas, 1);
        border: none;
        border-radius: 1rem;
        transition: 1s;
        &:hover{
          transform: scale(1.1);
          box-shadow: 0px 1px 10px rgb(72,52,26);
          transition: all 200ms ease;
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
        }
      }
    }
  }
}

.contactoInfo{
  grid-area: contactoInfo;
  margin: 1rem;
  border: 0.15rem solid nth($listas, 1);
  border-radius: 1rem;
  h2{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    color: nth($listas,1);
  }
  h3{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
  .parrafoInfo{
    padding: 0.8rem;
  }
  p{
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }
  .email{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    text-align: center;
  }
}

.contactoMapa{
  grid-area: contactoMapa;
  margin: 1rem;
    iframe{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  }
}








