/*--- footer ---*/

footer{
ul{
  i,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    &:hover{
      color: nth($listas, 2);
      transition: 200ms;
      }
    }
  }
}

.divFooter{
  background-color: nth($listas, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  padding: 1rem;
}

.divLogoFooter{
    img{
      width: 30vh;
    }
}

.productos, .nosotros, .seguinos, .ayuda{
  @extend %tarjetasFooter;
}

.tituloProductos, .tituloNosotros, .tituloSeguinos, .tituloAyuda{
  @extend %titulosTarjetasFooter;
}

.copy{
  color:white;
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
  text-align: center;
  background-color: nth($listas, 2);
}