/*--- Index ---*/

/*--- Carrusel Index ---*/

.carouselIndex{
  margin: 0.5rem;
  .carousel-inner-index{
    border-radius: 1rem;
  }
  .textoBoton {
  @extend %botonesCarruIndex;
  }  
}

/*--- Imágenes Index ---*/

.imgIndex1{
  @extend %imagenesIndex;
}

.imgIndex2{
  @extend %imagenesIndex;
    margin-bottom: 1rem; 
}

