/*--- Media Queries Mobile---*/

@media screen and (max-width: 576px){

  .productos, .nosotros, .productosBootstrap, .nosotrosBootstrap{
    display: none;
  }

  .gridQuienesSomos{
   grid-template-columns: auto;
   grid-template-rows: auto auto auto auto;
   grid-template-areas: "contenedorUno"
                        "contenedorCuatro";
  }

 .contenedorDos, .contenedorTres{
   display: none;
  }
}